.geosearch.leaflet-bar form,
.geosearch.leaflet-bar .message {
  display: none;
}

.geosearch.leaflet-bar.active form {
  display: block;
}

.geosearch a.leaflet-bar-part {
	border-radius: 4px;
	border-bottom: none;
	background-image: url(../img/geosearch.png);
  background-position: center center;
	background-size: 100% 100%;
}

.geosearch.pending a.leaflet-bar-part {
	background-image: url(../img/spinner.gif);
  background-size: 12px 12px;
}

.geosearch.error a.leaflet-bar-part {
	background-image: url(../img/alert.png);
	background-size: 18px 18px;
}

.leaflet-control-geosearch {
  position: relative;
}

.leaflet-control-geosearch form {
	position: absolute;
	top: 0;
	left: 22px;
	box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
	border-radius: 0 4px 4px 0;
	z-index: -1;
	background: #FFF;
	height: auto;
	margin: 0;
  padding: 0;
}

.leaflet-control-geosearch form input {
	width: 200px;
	border: none;
	outline: none;
	margin: 0;
	padding: 0;
	font-size: 12px;
  height: 30px;
  border-radius: 0 4px 4px 0;

}

.leaflet-control-geosearch .message {
	position: absolute;
	top: 26px;
	left: 0px;
	width: 226px;
	color: #FFF;
	background: rgb(40, 40, 40);
	padding: 4px 0 4px 8px;
}

.leaflet-touch .leaflet-control-geosearch .message {
	top: 30px;
	left: -2px;
}
