.displayNone {
	display: none;
}

.leaflet-control-geosearch {
	position: relative;
}

.leaflet-control-geosearch a {
	-webkit-border-radius: 4px;
			border-radius: 4px;
	border-bottom: none;
}

.leaflet-control-geosearch a.glass {
	background-image: url(../img/geosearch.png);
	background-size: 100% 100%;
}

.leaflet-control-geosearch a.spinner {
	background-image: url(../img/spinner.gif);
	background-position: 50% 50%;
}

.leaflet-control-geosearch a.alert {
	background-image: url(../img/alert.png);
	background-size: 64% 64%;
}

.leaflet-control-geosearch a:hover {
	border-bottom: none;
}

.leaflet-control-geosearch form {
	position: absolute;
	top: 0;
	left: 22px;
	box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
	-webkit-border-radius: 4px;
			border-radius: 0px 4px 4px 0px;
	z-index: -1;
	background: #FFF;
	height: 26px;
	padding: 0 6px 0 6px;
}

.leaflet-touch .leaflet-control-geosearch form {
	padding: 2px 6px 2px 8px;
	line-height: 28px;
}

.leaflet-control-geosearch form input {
	width: 200px;
	border: none;
	outline: none;
	margin: 0;
	padding: 0;
	font-size: 12px;
	margin-top: 5px;
}

.leaflet-control-geosearch .message {
	position: absolute;
	top: 26px;
	left: 0px;
	width: 226px;
	color: #FFF;
	background: rgb(40, 40, 40);
	padding: 4px 0 4px 8px;
}

.leaflet-touch .leaflet-control-geosearch .message {
	top: 30px;
	left: -2px;
}

.leaflet-geosearch-autocomplete {
    position:absolute;
    top:100%;
    left:0;
    float:left;
    width:inherit;
    box-shadow: 0 0 8px rgba(0,0,0,0.4);
    -webkit-border-radius: 5px;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius: 5px;
    -moz-border-radius-topleft: 0;
    border-radius: 5px;
    border-top-left-radius: 0;
    background-color: rgba(0, 0, 0, 0.25);
    z-index:1010;
    overflow-y:auto;
    overflow-x:hidden;
}

.leaflet-geosearch-suggestion {
    font-size:.85em;
    margin:2px;
    padding:2px;
    display:block;
    color:black;
    background: #ddd;
    border-radius:.25em;
    text-decoration:none;
    white-space:nowrap;
    font-size:.85em;
    vertical-align:center;
    width: 50em;
}

.leaflet-geosearch-suggestion:hover, .leaflet-geosearch-suggestion-selected {
    background-color: #fff;
}

/*icon css adapted from leaflet-search*/
.leaflet-geosearch-submit-button-container {
    background: none repeat scroll 0 0 #AAAAAA;
    border-radius: 4px 4px 4px 4px;
    height: 24px;
    margin: 1px 0;
    position: absolute;
    right: 8px;
    width: 27px;
}

.leaflet-geosearch-submit-button-container .leaflet-geosearch-submit-button {
    display: block;
    margin: 1px 0;
    position: absolute;
    text-decoration: none;
    background: url("../img/search-icon.png") no-repeat scroll 0 0 transparent;
    border-radius: 4px 4px 4px 4px;
    height: 22px;
    width: 22px;
    right: 2px;
}

.leaflet-geosearch-submit-button-container .leaflet-geosearch-submit-button:hover {
    background: url('../img/search-icon.png') no-repeat 0 -21px;
}

.leaflet-geosearch-cancel-button {
    background: url("../img/search-icon.png") no-repeat scroll 0 -42px transparent;
    height: 18px;
    width: 18px;
    margin-top: 5px;
    filter: alpha(opacity=80);
    opacity: 0.8;
    right: 42px;
    display: none; /*initially hidden*/
    position: absolute;
    text-decoration: none;
}

.leaflet-geosearch-cancel-button:hover {
    filter: alpha(opacity=100);
    opacity: 1;
}
